@font-face {
  font-family: "EuclidSquare";
  src: url("../../../fonts/EuclidSquare-Regular.ttf");
}

body {
  font-family: "EuclidSquare";
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .content {
      height: 100%;
      width: 95%;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      gap: 18em;

      .left_box {
        display: flex;
        flex-direction: column;

        .titles {
          margin-bottom: 4em;
          line-height: 20px;
          font-size: 30px;

          .title_1 {
            color: #2d418d;
            font-weight: 500;
          }

          .title_2 {
            color: #b0bde6;
            font-weight: 500;
          }
        }
      }

      .right_box {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        gap: 3em;

        .points {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 0.5em;
          width: 100%;

          p {
            font-size: 22px;
            // width: 600px;
          }

          img {
            width: 25px;
            height: 25px;
          }
        }

        .points_large {
          display: flex;
          flex-direction: row;
          gap: 0.5em;
          width: 100%;
          line-height: 30px;

          p {
            font-size: 22px;
            // width: 600px;
          }

          img {
            margin-top: 1.6em;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
