@font-face {
  font-family: "EuclidSquare";
  src: url("../../../fonts/EuclidSquare-Regular.ttf");
}

.wrapper {
  height: 100%;
  width: 100%;

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .slider {
      display: flex;
      flex-direction: column;

      .text {
        height: 100%;
        p {
          font-family: "EuclidSquare";
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1.65em;
          height: 1.5vw;
          font-size: 35px;
          line-height: 35px;
        }
      }
    }
  }
}
