@font-face {
  font-family: "EuclidSquare";
  src: url("../../fonts/EuclidSquare-Regular.ttf");
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    animation-name: fade;
    animation-duration: 0.5s;

    @keyframes fade {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
