@font-face {
  font-family: "EuclidSquare";
  src: url("../../fonts/EuclidSquare-Regular.ttf");
}

body {
  font-family: "EuclidSquare";

  .wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 5;

    &.wrapper-bg {
      width: 100%;
      background-color: #2d418d;
    }

    .content {
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      animation-name: fade;
      animation-duration: 1s;
      height: 7em;
      gap: 72em;

      @media screen and (max-width: 3700px) {
        gap: 60em;
      }

      @media screen and (max-width: 3400px) {
        gap: 50em;
      }

      @media screen and (max-width: 3000px) {
        gap: 40em;
      }

      @media screen and (max-width: 2700px) {
        gap: 30em;
      }

      @media screen and (max-width: 2400px) {
        gap: 38em;
      }

      @media screen and (max-width: 2180px) {
        gap: 33em;
      }

      @media screen and (max-width: 1950px) {
        gap: 29em;
      }

      @media screen and (max-width: 1800px) {
        gap: 24em;
      }

      @media screen and (max-width: 1650px) {
        gap: 19em;
      }

      @media screen and (max-width: 1500px) {
        gap: 16em;
      }

      @media screen and (max-width: 1370px) {
        gap: 12em;
      }

      @media screen and (max-width: 1250px) {
        gap: 10em;
      }

      @media screen and (max-width: 1180px) {
        gap: 8em;
      }

      @media screen and (max-width: 1100px) {
        gap: 7.5em;
      }

      @media screen and (max-width: 990px) {
        gap: 4.8em;
      }

      @media screen and (max-width: 776px) {
        gap: 24em;
      }

      @media screen and (max-width: 740px) {
        gap: 22em;
      }

      @media screen and (max-width: 700px) {
        gap: 20em;
      }

      @media screen and (max-width: 660px) {
        gap: 17em;
      }

      @media screen and (max-width: 610px) {
        gap: 14em;
      }

      @media screen and (max-width: 560px) {
        gap: 11em;
      }

      @media screen and (max-width: 510px) {
        gap: 7em;
      }

      @media screen and (max-width: 460px) {
        gap: 5em;
      }

      @media screen and (max-width: 420px) {
        gap: 4em;
      }

      @media screen and (max-width: 370px) {
        gap: 1.25em;
      }
      .logo {
        cursor: pointer;
        margin-top: 0.5em;
        img {
          width: 315px;

          @media screen and (max-width: 2400px) {
            width: 250px;
          }

          @media screen and (max-width: 2000px) {
            width: 225px;
          }

          @media screen and (max-width: 1100px) {
            width: 180px;
          }

          @media screen and (max-width: 830px) {
            width: 160px;
          }

          @media screen and (max-width: 776px) {
            margin-top: 0.5em;
          }
          @media screen and (max-width: 420px) {
            width: 140px;
          }
        }
      }

      .middle_content {
        display: flex;
        justify-content: center;
        gap: 1.5em;
        align-items: center;
        color: #fff;
        transition: 0.5s;

        @media screen and (max-width: 1950px) {
          gap: 1.25em;
        }

        @media screen and (max-width: 1500px) {
          gap: 1em;
        }

        // @media screen and (max-width: 1370px) {
        //   gap: 1em;
        // }

        @media screen and (max-width: 1180px) {
          gap: 0.75em;
        }

        @media screen and (max-width: 880px) {
          gap: 0.1em;
        }
        @media screen and (max-width: 830px) {
          gap: 0em;
        }
        @media screen and (max-width: 776px) {
          display: none;
        }

        .item {
          display: flex;
          width: 100px;
          justify-content: center;
          font-size: 30px;
          color: #fff;
          cursor: pointer;

          @media screen and (max-width: 2400px) {
            font-size: 20px;
            width: 70px;
          }

          @media screen and (max-width: 2000px) {
            font-size: 18px;
            width: 50px;
          }

          @media screen and (max-width: 1100px) {
            font-size: 18px;
            width: 50px;
          }

          @media screen and (max-width: 930px) {
            font-size: 14px;
            width: 40px;
          }

          &:hover.item_long {
            opacity: 0.5;
          }
        }

        .item_long {
          font-size: 30px;
          display: flex;
          width: 320px;
          justify-content: center;
          color: #fff;
          cursor: pointer;
          @media screen and (max-width: 2400px) {
            font-size: 20px;
            width: 210px;
          }

          @media screen and (max-width: 2000px) {
            font-size: 18px;
            width: 185px;
          }

          @media screen and (max-width: 1100px) {
            font-size: 18px;
            width: 185px;
          }
          @media screen and (max-width: 930px) {
            font-size: 14px;
            width: 155px;
          }
        }

        .item_contact {
          font-size: 30px;
          display: flex;
          width: 135px;
          justify-content: center;
          color: #fff;
          cursor: pointer;
          @media screen and (max-width: 2400px) {
            font-size: 20px;
            width: 100px;
          }

          @media screen and (max-width: 2000px) {
            font-size: 18px;
            width: 80px;
          }

          @media screen and (max-width: 1100px) {
            font-size: 18px;
            width: 80px;
          }
          @media screen and (max-width: 930px) {
            font-size: 14px;
            width: 70px;
          }
        }
      }

      .phone_number {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #fff;
        width: 225px;

        @media screen and (max-width: 2400px) {
          width: 150px;
        }

        h1 {
          font-weight: 500;
          // margin-left: 3em;
          text-align: right;
          font-size: 30px;
          width: 225px;

          @media screen and (max-width: 2400px) {
            font-size: 20px;
            width: 150px;
          }

          @media screen and (max-width: 1100px) {
            font-size: 18px;
          }

          @media screen and (max-width: 930px) {
            font-size: 16px;
            width: 115px;
          }

          @media screen and (max-width: 420px) {
            font-size: 14px;
            width: 100px;
          }
        }
      }
    }
  }
}
