@font-face {
  font-family: 'EuclidSquare';
  src: url('../../../fonts/EuclidSquare-Regular.ttf');
}

body {
  font-family: 'EuclidSquare';
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content {
      height: 100%;
      width: 95%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;

      .title {
        display: flex;
        align-items: flex-start;
        margin-top: 6.5em;
        h1 {
          color: #2d418d;
          font-size: 85px;
          font-weight: 500;

          @media screen and (max-width: 2700px) {
            font-size: 75px;
          }

          @media screen and (max-width: 2000px) {
            font-size: 65px;
          }

          @media screen and (max-width: 1200px) {
            font-size: 55px;
          }

          @media screen and (max-width: 1070px) {
            font-size: 50px;
          }

          @media screen and (max-width: 980px) {
            font-size: 45px;
          }

          @media screen and (max-width: 910px) {
            font-size: 40px;
          }
          @media screen and (max-width: 860px) {
            font-size: 35px;
          }
        }
      }

      .blocks_position {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .blocks {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          margin-top: 1em;

          @media screen and (max-width: 1200px) {
            display: none;
          }

          .img_block {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 70px;
          }

          .first_block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            flex-direction: column;
            //   margin-left: 2em;
            margin-top: 0.4em;
            width: 525px;

            @media screen and (max-width: 2400px) {
              width: 425px;
            }

            @media screen and (max-width: 2000px) {
              width: 375px;
            }

            @media screen and (max-width: 1700px) {
              width: 340px;
            }

            @media screen and (max-width: 1500px) {
              width: 300px;
            }
            @media screen and (max-width: 1300px) {
              width: 275px;
            }

            img {
              transform: scale(2);

              @media screen and (max-width: 2400px) {
                transform: scale(1.5);
              }

              @media screen and (max-width: 1300px) {
                transform: scale(1);
              }
            }

            p {
              font-size: 30px;
              color: #3c415e;

              @media screen and (max-width: 2400px) {
                font-size: 25px;
              }

              @media screen and (max-width: 1700px) {
                font-size: 20px;
              }

              @media screen and (max-width: 1500px) {
                font-size: 17px;
              }
              @media screen and (max-width: 1300px) {
                font-size: 15px;
              }
            }
          }

          .second_block {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            flex-direction: column;
            margin-left: 6.5em;
            // margin-top: 3.5em;
            // margin-top: 1em;
            width: 525px;

            @media screen and (max-width: 2700px) {
              margin-left: 3.5em;
            }

            @media screen and (max-width: 2400px) {
              margin-left: 3em;
              width: 425px;
            }

            @media screen and (max-width: 2000px) {
              width: 375px;
            }

            @media screen and (max-width: 1700px) {
              width: 340px;
              margin-left: 2.5em;
            }

            @media screen and (max-width: 1500px) {
              margin-left: 2em;
              width: 300px;
            }
            @media screen and (max-width: 1300px) {
              margin-left: 1em;
              width: 275px;
            }

            img {
              transform: scale(2);

              @media screen and (max-width: 2400px) {
                transform: scale(1.5);
              }

              @media screen and (max-width: 1300px) {
                transform: scale(1);
              }
            }

            p {
              font-size: 30px;
              color: #3c415e;

              @media screen and (max-width: 2400px) {
                font-size: 25px;
              }

              @media screen and (max-width: 1700px) {
                font-size: 20px;
              }

              @media screen and (max-width: 1500px) {
                font-size: 17px;
              }

              @media screen and (max-width: 1300px) {
                font-size: 15px;
              }
            }
          }

          .third_block {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            flex-direction: column;
            margin-left: 6.5em;
            margin-top: 0em;
            // margin-top: 7em;
            width: 525px;

            @media screen and (max-width: 2700px) {
              margin-left: 3.5em;
            }
            @media screen and (max-width: 2400px) {
              margin-left: 3em;
              width: 425px;
            }

            @media screen and (max-width: 2000px) {
              width: 375px;
            }

            @media screen and (max-width: 1700px) {
              width: 340px;
              margin-left: 2.5em;
            }

            @media screen and (max-width: 1500px) {
              margin-left: 2em;
              width: 300px;
            }

            @media screen and (max-width: 1300px) {
              margin-left: 1em;
              width: 275px;
            }

            img {
              transform: scale(2);

              @media screen and (max-width: 2400px) {
                transform: scale(1.5);
              }

              @media screen and (max-width: 1300px) {
                transform: scale(1);
              }
            }

            p {
              font-size: 30px;
              color: #3c415e;

              @media screen and (max-width: 2400px) {
                font-size: 25px;
              }

              @media screen and (max-width: 1700px) {
                font-size: 20px;
              }

              @media screen and (max-width: 1500px) {
                font-size: 17px;
              }
              @media screen and (max-width: 1300px) {
                font-size: 15px;
              }
            }
          }
          .fourth_block {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            flex-direction: column;
            margin-left: 6.5em;
            // margin-top: 10.5em;
            width: 500px;

            @media screen and (max-width: 2700px) {
              margin-left: 3.5em;
            }

            @media screen and (max-width: 2400px) {
              font-size: 25px;
              // margin-top: 6em;
              width: 400px;
              margin-left: 2em;
            }

            @media screen and (max-width: 2000px) {
              width: 350px;
              margin-left: 1.8em;
            }

            @media screen and (max-width: 1700px) {
              width: 315px;
            }

            @media screen and (max-width: 1500px) {
              width: 275px;
            }

            @media screen and (max-width: 1300px) {
              margin-left: 1em;
              width: 250px;
            }

            img {
              transform: scale(2);

              @media screen and (max-width: 2400px) {
                transform: scale(1.5);
              }

              @media screen and (max-width: 1300px) {
                transform: scale(1);
              }
            }

            p {
              font-size: 30px;
              color: #3c415e;

              @media screen and (max-width: 2400px) {
                font-size: 25px;
              }

              @media screen and (max-width: 1700px) {
                font-size: 20px;
              }

              @media screen and (max-width: 1500px) {
                font-size: 17px;
              }
              @media screen and (max-width: 1300px) {
                font-size: 15px;
              }
            }
          }
        }

        .blocks_tablet {
          display: none;

          @media screen and (max-width: 1200px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 20px;
            align-items: center;
          }

          @media screen and (max-width: 776px) {
            display: none;
          }

          .first_block,
          .second_block,
          .third_block,
          .fourth_block {
            @media screen and (max-width: 1200px) {
              display: grid;
              place-items: center;
            }

            .zaymigo {
              @media screen and (max-width: 1200px) {
                margin-top: 1em;
              }
            }

            .aliexpress {
              @media screen and (max-width: 1200px) {
                margin-top: 2.5em;
              }
            }

            p {
              @media screen and (max-width: 1200px) {
                width: 450px;
              }

              @media screen and (max-width: 950px) {
                width: 360px;
                font-size: 14px;
              }
            }
          }
        }

        .blocks_mobile {
          display: none;

          @media screen and (max-width: 776px) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .first_block,
          .second_block,
          .third_block,
          .fourth_block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 1em;
            width: 60%;

            p {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
