.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #2d418d;
  border: 1px solid black;
  z-index: 5;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 5em;
    gap: 16.9em;
    // background-color: rgba(2, 17, 177, 0.992);

    .logo {
      img {
        width: 250px;
      }
    }

    .middle_content {
      display: flex;
      justify-content: center;
      gap: 2em;
      align-items: center;

      .item {
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 18px;
      }
    }

    .phone_number {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #fff;
    }
  }
}
