@font-face {
  font-family: "EuclidSquare";
  src: url("../../fonts/EuclidSquare-Regular.ttf");
}

body {
  font-family: "EuclidSquare";

  .wrapper {
    width: 100%;
    height: 100%;

    .content {
      display: flex;
      justify-content: center;
      position: relative;

      .header {
        width: 95%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        animation-name: fade;
        animation-duration: 1s;
        height: 5em;
        gap: 16.9em;
        .logo {
          img {
            width: 250px;
          }
        }

        .middle_content {
          display: flex;
          justify-content: center;
          gap: 3em;
          align-items: center;

          .item {
            display: flex;
            justify-content: center;
            color: #fff;
          }
        }

        .phone_number {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: #fff;
        }
      }

      .main_text {
        color: #fff;
        position: absolute;
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .main_title {
          line-height: 5.2em;
          width: 65%;
          @media screen and (max-width: 1210px) {
            line-height: 4.2em;
          }

          @media screen and (max-width: 870px) {
            line-height: 3.2em;
          }

          @media screen and (max-width: 776px) {
            line-height: 2.2em;
            width: 80%;
            position: relative;
          }

          h1 {
            font-size: 3.5em;

            @media screen and (max-width: 1210px) {
              font-size: 2.5em;
            }

            @media screen and (max-width: 870px) {
              font-size: 2em;
            }

            @media screen and (max-width: 776px) {
              font-size: 2.2em;
            }
          }
        }

        .slider_position {
          margin-top: 40%;

          @media screen and (max-width: 776px) {
            position: absolute;
            top: 50em;
          }
        }
      }

      video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
        animation-name: fade;
        animation-duration: 0.5s;

        @media screen and (max-width: 1200px) {
          height: 100vh;
        }
        @media screen and (max-width: 776px) {
          display: none;
        }
      }

      .photo_1 {
        display: none;

        @media screen and (max-width: 776px) {
          height: 100vh;
          width: 100vw;
          display: flex;
          object-fit: cover;
        }
      }
      .slider_mobile {
        display: none;

        @media screen and (max-width: 776px) {
          position: absolute;
          right: 2%;
          top: 70%;
          display: block;
        }

        @media screen and (max-width: 500px) {
          right: 5%;
        }
      }
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
