@font-face {
  font-family: "EuclidSquare";
  src: url("../../../fonts/EuclidSquare-Regular.ttf");
}

body {
  font-family: "EuclidSquare";
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10em;

    .content {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //   gap: 10em;

      .border_top {
        height: 200px;
        width: 100%;
        // border: 1px solid black;
      }

      .main_content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        // align-items: flex-start;
        width: 95%;
        height: 100%;

        .title {
          color: #2d418d;
          font-size: 25px;

          h1 {
            font-weight: 500;
          }
        }

        .gazprom_position {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          .gazprom {
            width: 400px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;
            h1 {
              margin-left: 0.5em;
              font-size: 25px;
              font-weight: 500;
            }
          }
        }

        .companies {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .vnukovo {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1 {
              position: absolute;
              top: 3.9em;
              font-size: 25px;
              font-weight: 500;
            }
          }

          .zarubezhneft {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 5.5em;
            h1 {
              position: absolute;
              top: 8em;
              font-size: 25px;
              font-weight: 500;
            }
          }
        }
      }

      .border_bottom {
        height: 200px;
        width: 100%;
        // border: 1px solid black;
      }
    }
  }
}
