@font-face {
  font-family: "EuclidSquare";
  src: url("../../../fonts/EuclidSquare-Regular.ttf");
}

body {
  font-family: "EuclidSquare";
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4.2em;

    .content {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //   gap: 10em;

      .main_content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        // align-items: flex-start;
        width: 95%;
        height: 100%;

        .title {
          h1 {
            color: #2d418d;
            font-weight: 500;
            font-size: 85px;

            @media screen and (max-width: 1200px) {
              font-size: 55px;
            }

            @media screen and (max-width: 1070px) {
              font-size: 50px;
            }

            @media screen and (max-width: 980px) {
              font-size: 45px;
            }

            @media screen and (max-width: 910px) {
              font-size: 40px;
            }
            @media screen and (max-width: 860px) {
              font-size: 35px;
            }
          }
        }

        .gazprom_position {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          .gazprom {
            width: 400px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;

            @media screen and (max-width: 500px) {
              width: 300px;
            }

            img {
              @media screen and (max-width: 500px) {
                width: 270px;
              }
            }

            h1 {
              margin-left: 0.5em;
              font-size: 35px;
              font-weight: 500;

              @media screen and (max-width: 1000px) {
                font-size: 23px;
              }

              @media screen and (max-width: 776px) {
                font-size: 20px;
                margin-top: 1em;
              }

              @media screen and (max-width: 500px) {
                font-size: 20px;
                margin-top: 1.2em;
              }
            }
          }
        }

        .companies {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: 776px) {
            display: none;
          }

          .vnukovo {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
              @media screen and (max-width: 1000px) {
                width: 330px;
              }
            }
            h1 {
              position: absolute;
              top: 3em;
              font-size: 35px;
              font-weight: 500;
              @media screen and (max-width: 1000px) {
                font-size: 23px;
              }
            }
          }

          .zarubezhneft {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 5.5em;

            @media screen and (max-width: 1000px) {
              margin-bottom: 3.5em;
            }

            img {
              @media screen and (max-width: 1000px) {
                width: 330px;
              }
            }
            h1 {
              position: absolute;
              top: 5.95em;
              font-size: 35px;
              font-weight: 500;

              @media screen and (max-width: 1000px) {
                position: absolute;
                top: 6.9em;
                font-size: 23px;
              }
            }
          }
        }

        .companies_mobile {
          display: none;

          @media screen and (max-width: 776px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5em;
            margin-top: 3em;
          }

          .vnukovo {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
              width: 330px;

              @media screen and (max-width: 500px) {
                width: 300px;
              }
            }
            h1 {
              position: absolute;
              top: 3.9em;
              font-size: 20px;
              font-weight: 500;
            }
          }

          .zarubezhneft {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 3.5em;

            img {
              width: 330px;
              @media screen and (max-width: 500px) {
                width: 300px;
              }
            }
            h1 {
              position: absolute;
              top: 7.95em;
              font-size: 20px;
              font-weight: 500;
              top: 8.5em;

              @media screen and (max-width: 500px) {
                top: 7.95em;
              }
            }
          }
        }
      }
    }
  }
}
